nav.navigation
  .navigation-wrapper
    a.navigation-link(href="/")=meta.data.title

      svg.navigation-link-icon
    ul.navigation-list
    each item in navigation.data.list
      li.navigation-list-item
        a.navigation-list-link(href=Link(item.link))=item.text 